@page "/Dashboard/LikertOptions"

<header class="page-header">
    <div class="container">
        <h3 class="page-title">گزینه های پرسشنامه ها بر مبنای لیکرت پنج درجه</h3>
        <nav class="page-navbar">
            <NavLink class="small-link" href="/Dashboard/LikertOptions/Create">گزینه جدید</NavLink>
        </nav>
    </div>
</header>

<div class="content container">
    @if (likertOptions is null)
    {
        <h4>در حال بازگزاری لیست</h4>
    }
    else
    {
        @if (likertOptions.Count() < 1)
        {
            <h4>هیچ گزینه ای برای درجه های لیکرت یافت نشد.</h4>
        }
        else
        {
            <QuickGrid Items="likertOptions.AsQueryable()">
                <PropertyColumn Title="عنوان گزینه" Property="@(option => option.Label)" />
                <PropertyColumn IsDefaultSortColumn=true Title="نمره گزینه" Property="@(option => option.Score)" />
                <PropertyColumn Title="نوع نمره گزاری" Property="@(option => option.Reverse ? "معکوس" : "مستقیم")" />
                <TemplateColumn Title="">
                    <NavLink class="small-link" href="@($"/Dashboard/LikertOptions/Edit/{context.Id}")">ویرایش</NavLink>
                    <NavLink class="small-link red-link" href="@($"/Dashboard/LikertOptions/Delete/{context.Id}")">حذف</NavLink>
                </TemplateColumn>
            </QuickGrid>
        }
    }
</div>

@code {
    private List<LikertOption> likertOptions = new();
    protected override async Task OnInitializedAsync()
    {
        using var context = DbContextFactory.CreateDbContext();

        likertOptions = await context
            .LikertOptions
            .ToListAsync();
    }
}
