@if (question is null)
{
    <Loading />
}
else
{
    <div class="question-card">
        <div class="question">
            <span>
                <h4 class="question-text">@question.Text</h4>
                <p class="question-clarification">@question.Clarification</p>
            </span>
        </div>
        <div class="question-answer">
            @if (question.Scale.Type.ToString() == "Options")
            {
                <InputRadioGroup @bind-value="tempOption">
                    @foreach (Option option in question.Scale!.Options!.OrderBy(o => o.Score))
                    {
                        <InputRadio id="@option.Id" value="option.Score" @onclick="HandleQuestionAnswer" />
                        <label for="@option.Id" class="question-options-item">
                            @option.Label
                        </label>
                    }
                </InputRadioGroup>
            }
            else
            {
                <div class="input-answer">
                    <div class="input-wrapper">
                        <InputText @bind-value="tempValue" @bind-value:after="HandleQuestionAnswer" />
                    </div>
                    <button @onclick="HandleQuestionAnswer">
                        تایید
                    </button>
                </div>
            }
        </div>
    </div>
}

@code {
    [Parameter]
    public Guid QuestionId { get; set; }

    [Parameter]
    public Guid ParticipantId { get; set; }

    [Parameter]
    public EventCallback<int> OnAnswered{ get; set; }

    private Question? question { get; set; }

    private int? tempOption = null!;
    private string? tempValue;

    protected override async Task OnParametersSetAsync()
    {
        using var context = DbContextFactory.CreateDbContext();

        question = await context.Questions
            .Include(q => q.Scale)
                .ThenInclude(s => s.Options)
            .FirstOrDefaultAsync(q => q.Id == QuestionId);

        if (question is null)
        {
            return;
        }

        var response = await context.Responses
        .FirstOrDefaultAsync(r =>
            r.ParticipantId == ParticipantId
            &&
            r.QuestionId == QuestionId
        );

        if (response is null)
        {
            tempValue = null!;
            tempOption = null!;
            return;
        }
        else
        {
            tempValue = response.Value;
            if (question.Scale.Type == ScaleType.Options)
            {
                tempOption = int.Parse(response.Value);
            }
        }
    }

    private async Task HandleQuestionAnswer()
    {
        using var context = DbContextFactory.CreateDbContext();
        var response = await context.Responses
            .FirstOrDefaultAsync(r =>
                r.ParticipantId == ParticipantId
                &&
                r.QuestionId == QuestionId
            );

        if (response is null)
        {
            response = new Response
            {
                ParticipantId = ParticipantId,
                QuestionId = question!.Id,
            };
            response.Value = tempValue!;
            if (question!.Scale.Type == ScaleType.Options)
            {
                response.Value = tempOption.ToString()!;
            }
            context.Responses.Add(response);
        }
        else
        {
            response.Value = tempValue!;
            if (question!.Scale.Type == ScaleType.Options)
            {
                response.Value = tempOption.ToString()!;
            }
            context.Attach(response!).State = EntityState.Modified;
        }

        try
        {
            await context.SaveChangesAsync();

            var responsesCount = await context.Responses
                .Where(r => r.ParticipantId == ParticipantId)
                .CountAsync();

            await OnAnswered.InvokeAsync(responsesCount);
        }
        catch
        {
        }
    }
}